/*

November Template

http://www.templatemo.com/tm-473-november

*/

/* --** Reset CSS **-- */
* { margin: 0px; padding: 0px; box-sizing: border-box; -webkit-font-smoothing: antialiased; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,/* table,*/ caption, tbody, tfoot, thead /*tr,*/ /*th, td*/ { border: 0; font-family: inherit; font-size: 100%; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
html, body, button, input, select, textarea { font-family: Arial; font-size: 12px; color: #8c806e; }
ul, ol { margin-top: 0; margin-bottom: 10px; }
ul ul { margin-bottom: 0; }
li { font-size: 13px; margin: 5px 0px 10px 0px; }
pre { overflow: auto; }
/*table { border-collapse: separate; border-spacing: 0; }*/
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none; }
a img { border: 0; }
a, input { outline: none; }
a { color: #F06;  }
a:hover { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { margin: 5px 0px 15px 0px; clear: both; font-weight: lighter; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }
p {font-size: 13px; margin: 5px 0px 15px 0px; }

img { -ms-interpolation-mode: bicubic; border: 0; height: auto; max-width: 100%; vertical-align: middle; display: block;  }
figure { margin: 0; }
::-webkit-input-placeholder { color: rgba(51, 51, 51, 0.7); }
:-moz-placeholder { color: rgba(51, 51, 51, 0.7); }
::-moz-placeholder { color: rgba(51, 51, 51, 0.7); opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */ }
:-ms-input-placeholder { color: rgba(51, 51, 51, 0.7); }
input:focus, textarea:focus { background-color: #fff; border: 1px solid #c1c1c1; border: 1px solid rgba(51, 51, 51, 0.3); color: #333; }
input:focus, select:focus { outline: 2px solid #c1c1c1; outline: 2px solid rgba(51, 51, 51, 0.3); }
.hide { display: none;}

/*bottom right float button using jquery*/
a.back-to-top {display: none; width: 60px; height: 60px; text-indent: -9999px; position: fixed; z-index: 99999; opacity: .5; right: 20px; bottom: 20px; background: #F44336 url("../dwnld/body/up-arrow.png") no-repeat center 43%; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
a:hover.back-to-top {background-color: #000; }

.clear { clear: both; height: 0px; overflow: hidden; }

table {background:#ccc; font-family: Arial, Helvetica, sans-serif; width: 640px; font-size: 12px; margin:20px 0; border-collapse: separate; border:#ccc 1px solid; /*-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;*/ -moz-box-shadow:0 3px 6px rgba(0, 0, 0, 0.4);}
table th {padding:0px 0px}
table td {background-image: -o-linear-gradient(rgb(242,242,242),rgb(222,222,222)); background:-moz-linear-gradient(center top , #f2f2f2, #dedede) repeat scroll 0 0 transparent; background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dedede)); padding: 14px 20px}


/* <<< Design Holder >>> */
.DesignHolder { position: relative; display: block; width: 100%; min-height: 100%; }

/* <<< Layout Frame >>> */
.LayoutFrame { margin: 0 auto; width: 100%; display: block; }

/* <<< Body >>> */
body { background: #9E9E9E; }

/* <<< Header >>> */
header { width: 100%; position: fixed; top: 0px; left: 0px; height: 105px; background: rgba(0, 0, 0, 0.3); z-index: 9; }
header .Center { max-width: 1100px; margin: auto; }
header .site-logo { padding: 0px 0px 0px 0px; width: 181px; float: left; transition: all 0.3s;  }
header .site-logo img { height: 80px; }
header .site-logo h1 { margin: 0px; }
header .site-logo h1 a { font-size: 36px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 800; text-decoration: none; text-transform: uppercase; text-shadow: rgb(3, 3, 3) 0px 2px 5px; transition: all 0.7s ease;  }
header .site-logo h1 a span { color: #ff9000; }
header .site-logo p { margin-top: 5px; margin-bottom: 0px;  width: 180px; text-align: center; font-size: 15px;}
header.smaller { padding: 0px 0px 0px 0px; height: 80px; transition: all 0.3s; background: rgba(0, 0, 0, 0.3); }
header.smaller .site-logo {padding: 0px 0px 0px 0px; }
header.smaller .site-logo h1 { line-height: 30px; }
header.smaller .site-logo h1 a { font-size: 30px;  }
header.smaller .site-logo p { margin-top: 3px; margin-bottom: 0px; width: 138px; text-align: center; font-size: 13.5px;}

/* <<< Navigation >>> */
.Navigation { float: right; width: 68.18%; margin-right: 11px; }
.Navigation ul { list-style: none; margin: 0px; float: right; }
.Navigation li { float: left; padding: 0px;  margin: 0px; height: 105px; position: relative; transition: all 0.3s ease; }
.Navigation li a { padding: 42px 41px 36px 41px; font-size: 16px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 400; text-decoration: none; display: block; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.Navigation li span { 
	border-bottom: solid 5px #ff9000;
	background: rgba(56,87,122,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,87,122,1)), color-stop(0%, rgba(56,87,122,1)), color-stop(0%, rgba(56,87,122,1)), color-stop(100%, rgba(44,68,94,1)));
	background: linear-gradient(to bottom, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(44,68,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38577a', endColorstr='#2c445e', GradientType=0 );
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
	transition: all 0.5s ease;
}

.Navigation li:hover span, .Navigation li.active span {
	opacity: 1;
	border-bottom: solid 5px #F44336;
}

header.smaller .Navigation li a { padding: 29px 41px; }
header.smaller .Navigation li { height: 80px; }
header.smaller .site-logo img { height: 61px; }

.mobile { display: none;  }
.mobile .fa { padding: 12px 14px; font-size: 31px; width: 55px; height: 55px; color: #fff; cursor: pointer; background: #ff9408; }
.mobile .fa:hover { background: #e3860e; }
.mobile.closed .fa-bars { display: none; }
.mobile .fa-times { padding: 11px 15px; width: 55px; height: 55px; display: none; font-size: 31px; }
.mobile.closed .fa-times { display: block; }

/* <<< Banner Section >>> */
.Banner_sec { width: 100%;/* background: url(../img/Banner-bg.jpg) top center no-repeat;*/ height: 675px; position: relative; background-size: cover; }
.Banner_sec .bannerside { width: 100%; position: absolute; top: 150px; left: 0px; }
.Banner_sec .Center { max-width: 1100px; margin: auto; }
.Banner_sec .leftside { padding: 0px 0px 0px 0px; width: 20%; float: left; }
.Banner_sec .leftside h3 { font-size: 36px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 800; text-transform: uppercase; margin: 0px; line-height: 34px;}
.Banner_sec .leftside h3 span { color: #ff9000; font-family: 'Open Sans', sans-serif; font-weight: 600; display: block; }
.Banner_sec .leftside p { padding: 10px 0px 20px 0px; font-size: 18px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 600; font-style: italic; margin: 0px; word-spacing: 2px; line-height: 22px; }
.Banner_sec .leftside span { font-size: 20px; font-weight: 600; }
.Banner_sec .leftside a { padding: 11px 16px; font-size: 14px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: uppercase; text-decoration: none; display: inline-block; border: solid 1px #b0bdc8; background: rgba(64, 93, 118, 0.8); transition: all 0.3s ease; }
.Banner_sec .leftside a:hover { background: #ff9000; color: #fff; border: solid 1px #ff9000; }
.Banner_sec .rightside { width: 75%; float: right; position: relative; }
.Banner_sec .rightside .bx-wrapper { position: relative; z-index: 1; }
.Banner_sec .rightside ul { list-style: none; margin: 0px; }
.Banner_sec .rightside li { padding: 0px; margin: 0; float: none!important; }
.Banner_sec .rightside #slider { width: 100%; float: right;  position: relative; z-index: 1; }
.Banner_sec .rightside .Slider .text { padding: 25px 47px 21px 30px; position: absolute; bottom: 0px; left: 0px; width: 100%; background: rgba(0, 0, 0, 0.7); }
.Banner_sec .rightside .Slider .text .Icon { width: 38%; float: left; }
.Banner_sec .rightside .Slider .text ul { list-style: none; margin: 0px; }
.Banner_sec .rightside .Slider .text li { float: left!important; padding: 0px 30px 0px 10px; margin: 0px; }
.Banner_sec .rightside .Slider .text li a { display: block; font-size: 14px; color: #fff; text-decoration: none; font-family: 'Open Sans', sans-serif; font-weight: 400; transition: all 0.3s ease;}
.Banner_sec .rightside .Slider .text li:last-child { padding: 0px; }
.Banner_sec .rightside .Slider .text li:hover a { color: #ff9000!important;}
.Banner_sec .rightside .Slider .text li a .fa { padding: 13px; margin-right: 10px; color: #fff; border-radius: 50px; border: solid 2px #fff; transition: all 0.3s ease; }
.Banner_sec .rightside .Slider .text li:hover a .fa { background: #ff9000; color: #fff; border: solid 2px #ff9000; }
.Banner_sec .rightside .Slider .text li:last-child { padding-right: 0px; padding-left: 0px;}
.Banner_sec .rightside .Slider .text .Lorem { float: right; width: 31%; }
.Banner_sec .rightside .Slider .text .Lorem p { padding-top: 5px; font-size: 18px; color: #fff; margin: 0px; font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: uppercase; text-align: right; line-height: 19px; }
.Banner_sec .rightside .Slider .text .Lorem p span { font-size: 14px; text-align: right; color: #ff9000; display: block; text-transform: capitalize;}
.Banner_sec .rightside .prevBtn { width: 42px; height: 42px; display: block; text-indent: -9999px; background: url(../img/prev-arrow.png) no-repeat; position: absolute; top: 213px; left: 49px;  z-index: 1; opacity: 0.5; transition: opacity 0.3s ease; }
.Banner_sec .rightside .prevBtn:hover {  opacity: 1; }	
.Banner_sec .rightside .nextBtn { width: 42px; height: 42px; display: block; text-indent: -9999px; background: url(../img/next-arrow.png) no-repeat; position: absolute; top: 213px; right: 47px;  z-index: 1; opacity: 0.5; transition: opacity 0.3s ease; }
.Banner_sec .rightside .nextBtn:hover { opacity: 1; }	
.Banner_sec .rightside .Shadow { position: absolute; bottom: -3px; left: -25px; max-width: none; }

/* <<< bg color>>> */
.bgcolor {  height: 74px; width: 100%; background: rgba(249,250,251,1); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,250,251,1)), color-stop(0%, rgba(249,250,251,1)), color-stop(100%, rgba(225,228,231,1)));
	background: linear-gradient(to bottom, rgba(249,250,251,1) 0%, rgba(249,250,251,1) 0%, rgba(225,228,231,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafb', endColorstr='#e1e4e7', GradientType=0 ); }
	
	
	/* <<< Container >>> */
	#Container { overflow: hidden; width: 100%; }

	/* <<< About Section >>> */
	.About_sec { padding: 115px 0px 0px 0px ; width: 100%; overflow: hidden; }
	.About_sec .Center { max-width: 1100px; margin: auto; overflow: hidden; text-align: center; }
	.About_sec h2 { font-size: 56px; color: #000; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform: uppercase; line-height: 60px; letter-spacing: -0.4px; }
	.About_sec p { padding: 24px 0px 35px 0px; font-size: 14px; color: #fff; margin: 0px; font-family: 'Open Sans', sans-serif; line-height: 25px; font-weight: 400; text-align: justify; }
	.About_sec .Line { border: solid 1px #F44336; height: 2px; width: 252px; margin: auto; }
	.About_sec .Tabside { padding: 90px 0px; width: 100%;}
	.About_sec .Tabside ul { list-style: none; margin: 0px; padding-bottom: 50px; width: 100%; }
	.About_sec .Tabside li { position: relative; display: block; float: none; padding: 0px; margin: 0px -2px; display: inline-block; width: 25%}
	.About_sec .Tabside li a { position: relative; display: block; padding: 15px 0px 15px 0px; font-size: 18px; color: #fff; height: 70px; font-family: 'Open Sans', sans-serif; font-weight: 400; text-decoration: none; text-transform: uppercase; border: solid 1px #d5d5d5; display: block; transition: all 0.3s ease; }
	.About_sec .Tabside li a p { padding: 0px; text-align: center; width: 100%; font-size: 18px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 400; text-decoration: none; text-transform: uppercase; }
	.About_sec .Tabside li a:hover, .About_sec .Tabside li a.activeLink { border: solid 1px #ff9408; background: #F44336; color: #fff;}
	.About_sec .Tabside .TabImage { width: 43.63%; float: left; position: relative; }
	.About_sec .Tabside .TabImage .imgfst { position: absolute; top: 0px; left: 100px; right: 30px; height: 260px; background: url(../img/about-shadow.png) no-repeat; background-position: 25px 223px; }
	.About_sec .Tabside .TabImage .imgfst img { padding: 5px; border: solid 1px #ececec; background: #fff;  }
	.About_sec .Tabside .TabImage .img1 { position: relative; top: 0px; left: 15px; height: 260px; background: url(../img/about-shadow.png) no-repeat; background-position: 25px 223px; margin-bottom: 80px; }
	.About_sec .Tabside .TabImage .img1 figure { margin: 10px; }
	.About_sec .Tabside .TabImage .img1 img { padding: 5px; border: solid 1px #ececec; background: #fff;  }
	.About_sec .Tabside .TabImage .img123 { position: relative; top: 0px; left: 15px; height: 272px; background: url(../img/about-shadow.png) no-repeat; background-position: 25px 223px; margin-bottom: 20px; }
	.About_sec .Tabside .TabImage .img123 figure { margin: 10px; }
	.About_sec .Tabside .TabImage .img123 img { padding: 5px; border: solid 1px #ececec; background: #fff;  }
	.About_sec .Tabside .TabImage .img2 { position: absolute; top: 0px; left: 2px; height: 260px; background: url(../img/about-shadow.png) bottom center no-repeat; background-position: 0px 223px; }
	.About_sec .Tabside .TabImage .img2 img { padding: 5px; border: solid 1px #ececec; background: #fff;  }
	.About_sec .Tabside .Description { width: 54.3%; float: right; text-align: left; margin-top: -6px;}
	.About_sec .Tabside .Description h3 { font-size: 24px; color: #000; margin: 0px; text-transform: uppercase; font-family:'Open Sans'; line-height: 29px; }
	.About_sec .Tabside .Description h3 span { padding-left: 3px; font-size: 14px; color: #ff9000; display: block; }
	.About_sec .Tabside .Description h5 { color: black; }
	.About_sec .Tabside .Description h6	{ color:black; }
	.About_sec .Tabside .Description b { color: black; }
	.About_sec .Tabside .Description p { padding: 0px 0px 0px 0px; font-size: 14px; color: #fff; margin: 0px; font-family:'Open Sans'; line-height: 25px;  }
	.About_sec .Tabside .Description p { font-size: 16px; color: #fff; }
	.About_sec .tbl_verticle { display: block; position: relative; margin-top: 25px; }
	.About_sec .Tabside .Description .tbl_verticle table { display: block; position: relative; width: 100%; float: center; text-align: center;/* border: 1px solid black;*/ border-color: #000; }
	.About_sec .Tabside .Description .tbl_verticle table tr { border: 1px solid black; border-color: #000; text-align: center; color: #000; }
	.About_sec .Tabside .Description .tbl_verticle table th.thth { border: 1px solid black; border-color: #000; width: 28%; text-align: center; }
	.About_sec .Tabside .Description .tbl_verticle table th.trtr { border: 1px solid black; border-color: #000; width: 12%; text-align: center; }
	.About_sec .Tabside .Description .tbl_verticle table th.trtr1 { border: 1px solid black; border-color: #000; width: 12%; text-align: center; }
	.About_sec .Tabside .Description .tbl_verticle table th.trtr2 { border: 1px solid black; border-color: #000; width: 11%; text-align: center; }
	.About_sec .Tabside .Description .tbl_verticle table th.trtr3 { border: 1px solid black; border-color: #000; width: 11%; text-align: center; }
	.About_sec .Tabside .Description .tbl_verticle table th.trtr4 { border: 1px solid black; border-color: #000; width: 12%; text-align: center; }
	.About_sec .Tabside .Description .tbl_verticle table th.trtr5 { border: 1px solid black; border-color: #000; width: 12%; text-align: center; }
	.About_sec .Tabside .Description .tbl_verticle table th { border: 1px solid black; border-color: #000; text-align: center; font-weight: bold; color: white; font-size: 18px; height: 40px; vertical-align: middle; background-color: #424242; }
	.About_sec .Tabside .Description .tbl_verticle table td { border: 1px solid black; border-color: #000; text-align: center; font-size: 15px; height: 30px; vertical-align: middle; background-color: #757575; }
	/*.About_sec .tbl_verticle table { display: table; border-collapse: separate; border-spacing: 2px; border-color: black;}*/
	.About_sec .Tabside .other { position: relative; display: block; width: 100%; height: 1430px; }
	.About_sec .Tabside .other h1 { color: #000000; }
	.About_sec .Tabside .other h2 { font-size: 20px; font-family: 'Open Sans', sans-serif; font-weight: bold; text-align: left; }
	.About_sec .Tabside .other .umiya { width: 100%; position: relative; display: block; height: 185px; overflow: hidden; }
	.About_sec .Tabside .other .umiya ul { width: 100%; display: inline-block; height: 100%; padding: 0px; }
	.About_sec .Tabside .other .umiya ul li { width: 20%; display: inline-block; height: 100%; text-align: center; float: center; }
	.About_sec .Tabside .other .umiya ul li a.uuu { display: block; position: relative; width: 99%; height: 100%; padding: 0px; text-align: center;}		
	.About_sec .Tabside .other .umiya ul li a.uuu:hover { background: none; border-width: 4px; }	
	.About_sec .Tabside .other .umiya ul li a.uuu img { margin: auto; width: 143px; height: 130px; margin-top: 5px; }	
	.About_sec .Tabside .other .umiya ul li a.uuu p { font-size: 10px; position: absolute; display:block; }
	.About_sec .Tabside .other .procut { width: 100%; position: relative; display: block; height: 170px; overflow: hidden; }
	.About_sec .Tabside .other .procut ul { width: 100%; display: inline-block; height: 100%; padding: 0px; }
	.About_sec .Tabside .other .procut ul li { width: 30%; display: inline-block; height: 100%; text-align: center; float: center; }
	.About_sec .Tabside .other .procut ul li a.ppp { display: block; position: relative; width: 99%; height: 100%; padding: 0px; text-align: center;}		
	.About_sec .Tabside .other .procut ul li a.ppp:hover { background: none; border-width: 4px;}	
	.About_sec .Tabside .other .procut ul li a.ppp img { margin: auto; width: 143px; height: 130px; margin-top: 5px; }	
	.About_sec .Tabside .other .procut ul li a.ppp p { font-size: 10px; position: absolute; display:block; }
	.About_sec .Tabside .other .karan { width: 100%; position: relative; display: block; height: 205px; overflow: hidden; }
	.About_sec .Tabside .other .karan ul { width: 100%; display: inline-block; height: 100%; padding: 0px; }
	.About_sec .Tabside .other .karan ul li { width: 14.28%; display: inline-block; height: 100%; text-align: center; float: center; }
	.About_sec .Tabside .other .karan ul li a.kkk { display: block; position: relative; width: 99%; height: 100%; padding: 0px; text-align: center;}		
	.About_sec .Tabside .other .karan ul li a.kkk:hover { background: none; border-width: 4px; }	
	.About_sec .Tabside .other .karan ul li a.kkk img { margin: auto; width: 143px; height: 130px; margin-top: 5px; }	
	.About_sec .Tabside .other .karan ul li a.kkk p { font-size: 10px; position: absolute; display:block; }
	.About_sec .Tabside .other .sharpex { width: 100%; position: relative; display: block; height: 170px; overflow: hidden; }
	.About_sec .Tabside .other .sharpex ul { width: 100%; display: inline-block; height: 100%; padding: 0px; }
	.About_sec .Tabside .other .sharpex ul li { width: 30%; display: inline-block; height: 100%; text-align: center; float: center; }
	.About_sec .Tabside .other .sharpex ul li a.sss { display: block; position: relative; width: 99%; height: 100%; padding: 0px; text-align: center;}		
	.About_sec .Tabside .other .sharpex ul li a.sss:hover { background: none; border-width: 4px;}	
	.About_sec .Tabside .other .sharpex ul li a.sss img { margin: auto; width: 143px; height: 130px; margin-top: 5px; }	
	.About_sec .Tabside .other .sharpex ul li a.sss p { font-size: 10px; position: absolute; display:block; }
	.About_sec .Tabside .other .vikram { width: 100%; position: relative; display: block; height: 180px; overflow: hidden; }
	.About_sec .Tabside .other .vikram ul { width: 100%; display: inline-block; height: 100%; padding: 0px; }
	.About_sec .Tabside .other .vikram ul li { width: 25%; display: inline-block; height: 100%; text-align: center; float: center; }
	.About_sec .Tabside .other .vikram ul li a.vvv { display: block; position: relative; width: 99%; height: 100%; padding: 0px; text-align: center;}		
	.About_sec .Tabside .other .vikram ul li a.vvv:hover { background: none; border-width: 4px; }	
	.About_sec .Tabside .other .vikram ul li a.vvv img { margin: auto; width: 143px; height: 130px; margin-top: 5px; }	
	.About_sec .Tabside .other .vikram ul li a.vvv p { font-size: 10px; position: absolute; display:block; }
	.About_sec .Tabside .other .anil { width: 100%; position: relative; display: block; height: 170px; overflow: hidden; }
	.About_sec .Tabside .other .anil ul { width: 100%; display: inline-block; height: 100%; padding: 0px; }
	.About_sec .Tabside .other .anil ul li { width: 25%; display: inline-block; height: 100%; text-align: center; float: center; }
	.About_sec .Tabside .other .anil ul li a.aaa { display: block; position: relative; width: 99%; height: 100%; padding: 0px; text-align: center;}		
	.About_sec .Tabside .other .anil ul li a.aaa:hover { background: none; border-width: 4px;}	
	.About_sec .Tabside .other .anil ul li a.aaa img { margin: auto; width: 143px; height: 130px; margin-top: 5px; }	
	.About_sec .Tabside .other .anil ul li a.aaa p { font-size: 10px; position: absolute; display:block; }
	



	/* <<< Services Section >>> */
	.Services_sec{ padding: 114px 0px 90px 0px ; width: 100%; overflow: hidden; /*background: url(../img/Banner-bg2.jpg) top center no-repeat;*/ background-size: cover; }
	.Services_sec .Center { max-width: 1100px; margin: auto; overflow: hidden; text-align: center; }
	.Services_sec .serv_gl { height: 100px; }
	.Services_sec p { padding: 0px 0px 0px 0px; margin: 0px; height: 200px;}
	.Services_sec a { height: 200px; }
	.Services_sec img { height: 200px; margin: 0px; width: 275; }

	.Services_sec h2 { font-size: 56px; color: #fff; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform: uppercase; line-height: 60px; }
	/*.Services_sec p { padding: 25px 0px 35px 0px; font-size: 14px; color: #d8dfe5; margin: 0px; font-family: 'Open Sans', sans-serif; line-height: 25px; font-weight: 400; }*/
	.Services_sec .Line { border: solid 1px #F44336; height: 2px; width: 252px; margin: auto; margin-bottom: 20px; }
	.Services_sec .glry { width: 100%; position: relative; display: block; height: 245px; overflow: hidden; margin-bottom: 20px; }
	.Services_sec .glry ul { width: 100%; display: inline-block; height: 100%; padding: 0px; margin-bottom: 0px; margin: auto; }
	.Services_sec .glry ul li { width: 250px; display: inline-block; height: 100%; text-align: center; float: center; margin: auto; margin-right: 20px; }
	.Services_sec .glry ul li a { display: block; position: relative; border: 2px solid #F44336; width: 99%; height: 100%; padding: 0px; text-align: center;}		
	.Services_sec .glry ul li a:hover { background: none; border-width: 5px;}	
	.Services_sec .glry ul li a img { margin: 0px; width: 100%; height: 100%; }
	.Services_sec .glry1 { width: 100%; position: relative; display: block; height: 245px; overflow: hidden; margin-bottom: 20px; }
	.Services_sec .glry1 ul { width: 100%; display: inline-block; height: 100%; padding: 0px; margin-bottom: 0px; margin: auto; }
	.Services_sec .glry1 ul li { width: 250px; display: inline-block; height: 100%; text-align: center; float: center; margin: auto; margin-right: 20px; }
	.Services_sec .glry1 ul li a { display: block; position: relative; border: 2px solid #F44336; width: 99%; height: 100%; padding: 0px; text-align: center;}		
	.Services_sec .glry1 ul li a:hover { background: none; border-width: 5px;}	
	.Services_sec .glry1 ul li a img { margin: 0px; width: 100%; height: 100%; }	
	
	

	/* <<< Pricing Section >>> */
	.Pricing_sec { padding: 112px 0px 108px 0px ; width: 100%; overflow: hidden; /*background: #ffffff;*/ }
	.Pricing_sec .Center { max-width: 1100px; margin: auto; overflow: hidden; text-align: center; }
	.Pricing_sec h2 { font-size: 57px; color: #000; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform: uppercase; line-height: 60px; }
	.Pricing_sec p { padding: 26px 0px 35px 0px; font-size: 15px; color: #fff; text-align: justify; margin: 0px; font-family: 'Open Sans', sans-serif; line-height: 25px; font-weight: 400; }
	.Pricing_sec .Line { border: solid 1px #F44336; height: 2px; width: 252px; margin: auto; }
	.Pricing_sec .Center h3 { font-size: 50px; color: #000; padding-bottom: 40px; font-family: 'Oswald', sans-serif; font-weight: 300; margin: 0px; text-transform: uppercase; line-height: 50px; }
	.Pricing_sec .Center .circle {width: 160px; height: 160px; overflow: hidden; border: 3px solid black; -moz-border-radius: 80px; -webkit-border-radius: 80px; border-radius: 80px; display: inline-block; }
	.Pricing_sec .Center .circle img { height: 160px; width: 100%; }
	.Pricing_sec .Center .circle1 {width: 180px; height: 160px; overflow: hidden; margin-right: 20px; /*border: 0px solid black; -moz-border-radius: 80px; -webkit-border-radius: 80px; border-radius: 80px;*/ display: inline-block; }
	.Pricing_sec .Center .circle1 h4 { margin-top: 35px; font-size: 30px; color: white; text-align: center; }
	.Pricing_sec .Center .circle1 h5 { color: black; font-size: 25px; }

	/* <<< Contact Section >>> */
	.Contact_sec { width: 100%; overflow: hidden; }
	.Contact_sec .Contactside {/* background: url(../img/Banner-bg3.jpg) top center no-repeat;*/ background-size: cover; overflow: hidden;}
	.Contact_sec .Center { padding: 115px 0px 77px 0px;  max-width: 1100px; margin: auto; overflow: hidden; text-align: center; }
	.Contact_sec h2 { font-size: 57px; color: #fff; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform: uppercase; line-height: 60px;}
	/*.Contact_sec p { padding: 24px 0px 35px 0px; font-size: 14px; color: #ebebeb; margin: 0px; font-family: 'Open Sans', sans-serif; line-height: 25px; font-weight: 400; }*/
	.Contact_sec .Line { border: solid 1px #F44336; height: 2px; width: 252px; margin: auto; }
	.Contact_sec .Pricingside { padding: 70px 0px 10px 0px; width: 100%; overflow: hidden; text-align: initial; }
	
	/* <<< Map >>> */
	.Map { position: relative; z-index: 1; width: 40%; height:700px; float: left;  margin-left: 5%; overflow: hidden; box-shadow: 0px 1px 12px 3px #242424;
		-webkit-box-shadow: 0px 1px 12px 3px #242424; -moz-box-shadow: 0px 1px 12px 3px #242424; -o-box-shadow: 0px 1px 12px 3px #242424; }
		/*.Map #GoogleMap { height: 399px; }*/
		.Map #gmap_canvas1 { height: 700px; }
		/* <<< Get Section >>> */
		.Get_sec { width: 50%; overflow: hidden; /*background: url(../img/Banner-bg3.jpg) top center no-repeat;*/ background-size: cover; float: right; }
		.Get_sec .Mid { padding: 0px 0px 0px 0px; max-width: 1100px; margin: auto; overflow: hidden; }
		.Get_sec .Leftside { width: 80%; margin-top: 0px;  }
		.Get_sec .Leftside fieldset { padding: 0px; margin: 0px; }
		.Get_sec .Leftside p { padding: 0px; margin: 0px 0px 25px 0px;  }
		.Get_sec .Leftside h3 { padding-bottom: 15px; font-size: 35px; color: #ffffff; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform:uppercase; line-height: 46px; }
		.Get_sec .Leftside input.field { padding: 18px 20px 17px 20px; height:40px; font-size: 14px; color: #000000; font-family: 'Open Sans', sans-serif; font-weight: 400; border: 0px; width: 100%; box-shadow: 0px 2px 6px 0px #242424; -webkit-box-shadow: 0px 2px 6px 0px #242424; -moz-box-shadow: 0px 2px 6px 0px #242424;
		-o-box-shadow: 0px 2px 6px 0px #242424; border-radius: 0px; }
		.Get_sec .Leftside input:focus { outline: none;}
		.Get_sec .Leftside textarea { padding: 18px 20px 17px 20px; font-size: 14px; color: #000000; font-family: 'Open Sans', sans-serif; font-weight: 400; border: 0px; width: 100%; height: 156px; resize:none; box-shadow: 0px 2px 6px 0px #242424; -webkit-box-shadow: 0px 2px 6px 0px #242424; -moz-box-shadow: 0px 2px 6px 0px #242424; -o-box-shadow: 0px 2px 6px 0px #242424; border-radius: 0px; }
		.Get_sec .Leftside textarea:focus { outline: none;}
		.Get_sec .Leftside .button { padding: 16px 0px 17px 0px; margin-top: -3px; font-size: 14px; color: #e9ecee; font-family: 'Open Sans', sans-serif; font-weight: 700; text-align: center; background: #F44336; border: 0px; text-transform:uppercase; width: 100%; cursor: pointer; box-shadow: 0px 2px 6px 0px #242424; -webkit-box-shadow: 0px 2px 6px 0px #242424; -moz-box-shadow: 0px 2px 6px 0px #242424; -o-box-shadow: 0px 2px 6px 0px #242424; border-radius: 0px; transition: all 0.3s ease;}
		.Get_sec .Leftside .button:hover { background: #2d2d2d; color: #fff;}
		.Get_sec .Leftside span { width: 100%; text-align: right; float: right; color: #000; font-size: 18px; margin-top: 3px; }
		.Get_sec .Rightside { padding-top: 0px; width: 100%; }
		.Get_sec .Rightside h3 { padding-bottom: 15px; font-size: 35px; color: #ffffff; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform:uppercase; line-height: 46px; }
		.Get_sec .Rightside address { padding: 0px 0px 5px 65px; margin-left: 3px; font-size: 14px; color: #ffffff; font-family: 'Open Sans', sans-serif; font-weight: 400; font-style: normal; background: url(../img/location-icn.png) left 4px no-repeat; line-height: 24px;  }
		.Get_sec .Rightside address.Number { background: url(../img/phone-icn.png) left 5px no-repeat; }
		.Get_sec .Rightside address.Email { margin-left: 4px; background: url(../img/mail-icn.png) left 0px no-repeat; }
		.Get_sec .Rightside address.Email a { text-decoration: none; color: #ffffff; }
		.Get_sec .Rightside address.Email a:Hover { color: #ffffff; }
		.Get_sec .Rightside ul { float:right; list-style: none; margin-right: 30%; padding: 0px 0px 0px 0px; }
		.Get_sec .Rightside li { float: left; padding: 0px; margin: 0px  35px 0px 0px;  }
		.Get_sec .Rightside li a { text-decoration: none; }


		/* <<< footer >>> */
		footer { overflow: hidden; width: 100%; text-align: center; margin-top: 30px; background: rgba(0, 0, 0, 0.6); }
		footer .Cntr { padding:  28px 0px; max-width: 1100px; margin: auto;}
		footer .Cntr p { padding: 0px; font-size: 13px; color: white; font-family:'Open Sans'; margin: 0px; font-weight: bold; }
		footer .Cntr p.developer { color: white; text-align: right; font-weight: bold; font-family: 'Courier New' }
		footer .Cntr a { color: #a9abad; text-decoration: none; }
		footer .Cntr a:hover { color: #fff; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   #loader-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; }
   #loader { display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #3498db; -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
   	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ z-index: 1001; }
   	#loader:before { content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent;
   	border-top-color: #e74c3c; -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
   animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
   #loader:after { content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent;
border-top-color: #f9c922; -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */ animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section { position: fixed; top: 0; width: 51%; height: 100%; background: #222222; z-index: 1000; -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */ transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;  
	transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
	display: none;
}


/* Pages/Gallery 
================================= */
.gallery-item {
  padding: 0;
  display: block;
  margin: 0;
}
.gallery-item img {
  width: 100%;
}

.contact-items {
  margin-top: 30px;
}
.contact-items .contact-item {
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 16px;
}
.contact-items .contact-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #1f76bd;
  vertical-align: middle;
  margin-right: 5px;
  color: #fff;
  text-align: center;
}
.contact-items .contact-icon .fa {
  vertical-align: sub;
  font-size: 20px;
  margin-top: 7px;
}